footer{
    background-color: green;
    width: 100%;
    justify-content: space-between;
    font-size: small;
    padding: 0.01px;
}

img{
    width: 30px;
    height: auto;

}

footer ul li{
    list-style-type: none;
    display: inline-block;
}

#text{
    position: relative;
    bottom: 10px;
    color: white;
}


footer a{
    position: relative;
    bottom: 10px;
    text-decoration: none;
    color: white;
}


