/* UNIVERSAL */

* {
    word-spacing: 1.5px;
    letter-spacing: 0.8px;
}

/* ELEMENTS */

body {
    background-color: rgb(202, 235, 195);
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}

p, a { 
    font-family: sans-serif;
}

nav h1 {
    color: rgba(255, 255, 255, 0.863);
    position: fixed;    
    font-family: sans-serif;
    text-align: justify; 
    margin-top: 25px;
    margin-left: 0px;
}

nav img {
    width: 10px;
}

nav ul {
    list-style-type: none;
    margin-bottom: 10px;
    float: left;
}

nav li {
    float: left;
    margin-right: 30px;
}

nav {
    position: fixed;
    z-index: 100;
}

nav a {
    text-decoration: none;
}

a:hover {
    text-decoration-thickness:unset;
}

nav a:visited {
    font-weight: bold;
    color: white;

}

/* CLASSES */

.lettuce-logo { 
    width: 37.5px;
    aspect-ratio: 1;
    position: relative;
    left: 2vw;
}

.teaml {
    top: -1.25vw;
    left: 80px;
}


.linc {
    top: -1.25vw;
    right: 10px;
}

.nav1 {
    left: 0;
    top: 0; 
    background-color: rgb(52, 110, 52);
    width: 100vw;
    height: 12.5vh;
}

.nav2 {
    left: 0;
    top: 40px;
    background-color:rgb(70, 129, 70);
    width: 100vw;
    z-index: 101;
}

.current-page {
    text-decoration: underline;
    text-decoration-thickness: 2px ;
    text-decoration-color: white;
}

.invisible {
    height: 10vh;
    width: 100wv;
}