/* ELEMENTS */

body {
    color: darkgreen;
}

h1 {
    font-family:  Georgia, Arial, Helvetica;
    text-align: justify; 
    margin-left: 0px;
    
}

dl {
    margin-left: 40px;
}

p, a, dl { 
    font-family: Tahoma;
    text-align: justify;
}

main img {
    width: 50vw;
    top: 40px;
    left: 200px;
    transform: translateX(30%);
    margin-top: 30px;

}

/* CLASSES */

.intro {
    margin-top: 70px;
    margin-left: 100px;
}

.intro p {
    width: 90%;
    font-size: 19px;
}

.maincontent {
    margin-top: 30px;
    margin-left: 100px;
}

.maincontent p,dl {
    width: 80%;
    font-size: 19px;

}

.overlap {
    margin-top: 120px;
}

.community {
    margin-top: 230px;
}