/* UNIVERSAL */

*{
    font-family: sans-serif;
    position: relative;
}

/* ELEMENTS */

main{
    align-content: justify;
    margin: 0.5in auto;
    width: 1200px;
    border: 0px solid black;
    padding: 5px;
}

section img {
    width: auto;
    height: 250px;
}

/* CLASSES */

.contributors{
    overflow: auto;
    text-align: justify;
}

.contributor2{
    text-align: right;
}

.right{
    padding-left: 20px;
    float: right;
}

.left{
    padding-right: 20px;
    float: left;
}
