body {
    background-color: bisque;
}

h1 {
    font-family:  Georgia, Arial, Helvetica;
    color: rgb(20, 20, 122);
}

p, a { 
    font-family: Tahoma;
}

img {
    width: 300px;
    /* Adjust if needed */

}